<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ browserTitle }} |
      With you from pregnancy to parenthood |
      Illawarra Birth Doula
    </title>
    <meta name="description" content="{{#if metaDescription}}{{ metaDescription }}{{else}}Cherish Birth — a Wollongong-based birth doula service supporting families through pregnancy, labour, birth and the early days of parenthood.{{/if}}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/manifest.json">
    <meta name="theme-color" content="#d2e1e1">

    <!-- Vendor stylesheets -->
    {{#if isProduction}}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;700&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    {{else}}
      <link href="/vendor/font-awesome.css" rel="stylesheet">
      <link href="/vendor/google-fonts.css" rel="stylesheet">
    {{/if}}

    <!-- Site stylesheet -->
    <link href="/styles.min.css" rel="stylesheet">

    {{#each pages}}
      <link rel="prefetch" href="{{noDoubleSlash (concat this.url '/index.html') }}">
    {{/each}}
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/" class="logo__link">
          <img src="/images/cherish-birth-logo.png" alt="Cherish Birth logo with illustrated flowers and outline of a pregnant woman">
        </a>
      </div>

      {{> menu }}

      <div class="content">
        {{> content }}
      </div>

      {{> links }}
    </div>

    {{#if showFreebiesModal}}
      {{> modal-freebies }}
    {{/if}}

    <!-- Site scripts -->
    <script src="/scripts.min.js"></script>
  </body>
</html>
